<nav class="bg-white shadow-md rounded-lg p-4">
  <ul class="space-y-2">
    <li>
      <%= link_to members_path, class: "flex items-center p-2 text-gray-700 hover:bg-gray-100 rounded #{current_page?(members_path) ? 'bg-gray-100' : ''}" do %>
        <span class="material-icons mr-2">home</span>
        SES企業診断
      <% end %>
    </li>
    <li>
      <%= link_to members_ses_points_path, class: "flex items-center p-2 text-gray-700 hover:bg-gray-100 rounded #{current_page?(members_ses_points_path) ? 'bg-gray-100' : ''}" do %>
        <span class="material-icons mr-2">search</span>
        SESの基礎知識
      <% end %>
    </li>
    <li>
      <%= link_to members_interview_points_path, class: "flex items-center p-2 text-gray-700 hover:bg-gray-100 rounded #{current_page?(members_interview_points_path) ? 'bg-gray-100' : ''}" do %>
        <span class="material-icons mr-2">person</span>
        求人＆面接で確認するポイント（実装中）
      <% end %>
    </li>
    <!--
    <li>
      <%= link_to mypage_path, class: "flex items-center p-2 text-gray-700 hover:bg-gray-100 rounded #{current_page?(mypage_path) ? 'bg-gray-100' : ''}" do %>
        <span class="material-icons mr-2">account_circle</span>
        マイページ(実装中)
      <% end %>
    </li>
    -->
    <li>
      <%= link_to mypage_history_path, class: "flex items-center p-2 text-gray-700 hover:bg-gray-100 rounded #{current_page?(mypage_history_path) ? 'bg-gray-100' : ''}" do %>
        <span class="material-icons mr-2">history</span>
        分析履歴
      <% end %>
    </li>
    <li>
      <%= link_to reviews_path, class: "flex items-center p-2 text-gray-700 hover:bg-gray-100 rounded #{current_page?(members_submit_tip_path) ? 'bg-gray-100' : ''}" do %>
        <span class="material-icons mr-2">feedback</span>
        口コミフォーム
      <% end %>
    </li>
  </ul>
</nav>